aws_region   = "REDACTED"
project_name = "REDACTED"
environment  = "dev"

apigateway_port = 0000

inventory_app_port = 0000

billing_app_port = 0000
billing_db_port  = 0000

rabbitmq_port     = 0000
rabbitmq_user     = "REDACTED"
rabbitmq_password = "REDACTED"

inventory_db_port = 0000


dockerhub_username = "REDACTED"
dockerhub_password = ""

services = {
  gateway = {
    type           = "application"
    image          = "REDACTED/api-gateway-app:latest"
    container_port = 0000
    cpu            = 000
    memory         = 000
    desired_count  = 1

    environment = {
      PORT = "0000"
      INVENTORY_URL      = "http://xxxxx.xxxxx:0000"
      INVENTORY_APP_HOST = "xxxx.xxxxx"
      INVENTORY_APP_PORT = "0000"
      BILLING_APP_HOST = "billing.xxxxx"
      BILLING_APP_PORT = "0000"
      BILLING_QUEUE    = "orders"
      BILLING_URL      = "http://xxxxx.xxxxx:0000"
      # rabbitmq configuration
      RABBITMQ_HOST  = "xxxxx.xxxxx"
      RABBITMQ_PORT  = "0000"
      RABBITMQ_VHOST = "/"
    }
    autoscaling = {
      min_capacity = 1
      max_capacity = 3
      cpu_target   = 60
      enabled      = true
    }
  }

  inventory = {
    type           = "application"
    image          = "REDACTED/inventory-app:latest"
    container_port = 0000
    cpu            = 000
    memory         = 000
    desired_count  = 1
    environment = {
      INVENTORY_APP_HOST = "inventory.xxxxx"
      INVENTORY_APP_PORT = "0000"
      INVENTORY_DB_PORT = "0000"

    }
    autoscaling = {
      min_capacity = 1
      max_capacity = 3
      cpu_target   = 60
      enabled      = true
    }
  }
  # commit again
  billing = {
    type           = "application"
    image          = "REDACTED/billing-app:latest"
    container_port = 0000
    cpu            = 000
    memory         = 000
    desired_count  = 1

    environment = {
      BILLING_APP_HOST = "billing.xxxxx"
      BILLING_APP_PORT = "0000"

      BILLING_DB_PORT = "0000"
      RABBITMQ_HOST = "rabbitmq.xxxxx"
      RABBITMQ_PORT = "0000"
    }
    autoscaling = {
      min_capacity = 1
      max_capacity = 3
      cpu_target   = 60
      enabled      = true
    }
  }

  rabbitmq = {
    type           = "message-broker"
    image          = "REDACTED/rabbitmq:latest"
    container_port = 0000
    cpu            = 000
    memory         = 000
    desired_count  = 1

    environment = {
    }
  }

}

certificate_arn = "arn:aws:acm:REDACTED:REDACTED:certificate/xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx"

backend_server_name = "xxxx.xxx"

