# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
apps/terraform/imports.tf
apps/terraform/tdestroy-staging
apps/terraform/tfplan-staging
apps/terraform/test.sh


# Docker
*.env
*.key
*.crt

# Vagrant
.vagrant
*.log
